﻿@using autoplatz.Controllers
@model IEnumerable<autoplatz.Models.Car>

@{
    ViewData["Title"] = "Home Page";
    var search = ViewData["Search"] as Search;
}




<div id="carouselExampleControls" class="carousel slide ograniciRingispil" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="https://images.pexels.com/photos/70912/pexels-photo-70912.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h1>We offer amazing service</h1>
                <p>Come and see the amazing cardealer that makes people happy</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://images.pexels.com/photos/305070/pexels-photo-305070.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h1>Exclusive cars and deals</h1>
                <p>Check out our inventory</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://images.pexels.com/photos/1236712/pexels-photo-1236712.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h1>Make every mile count</h1>
                <p>New and used cars available daily</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br /> <br />
<form asp-action="FilterByAllAtributes" >
    <div class="form-row">
        <div class="col">
            <label for="Color">Color</label>
            <input type="text" class="form-control" name="Color" placeholder="Color">
        </div>
        <div class="col">
            <label for="Model">Model</label>
            <input type="text" class="form-control" name="Model" placeholder="Model">
        </div>
        <div class="col">
            <label for="Engine">Engine</label>
            <input type="text" class="form-control" name="Engine" placeholder="Engine">
        </div>
        <div class="col">
            <label for="HorsePower">Horse Power</label>
            <input type="text" class="form-control" name="HorsePower" placeholder="From">
            <input type="text" class="form-control" name="HorsePowerTo" placeholder="To">
        </div>
        <div class="col">
            <label for="PriceFrom">Price</label>
            <input type="text" class="form-control" name="Price" placeholder="From">
            <input type="text" class="form-control" name="PriceTo" placeholder="To">
        </div>
        <div class="col">
            <label for="Mileage">Mileage</label>
            <input type="text" class="form-control" name="Mileage" placeholder="From">
            <input type="text" class="form-control" name="MileageTo" placeholder="To">
        </div>

        <div class="col">
            <label for="Year">Year</label>
            <input type="text" class="form-control" name="Year" placeholder="From">
            <input type="text" class="form-control" name="YearTo" placeholder="To">
        </div>

        <div class="col">
            <br /><br />
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>

</form>
<div> 
    @if (search!=null) {
        <p>filter Color:@search.Color</p>
    }
   

</div>
<br /> <br />

<table class="table table-hover">
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="row">
                <td class="col-md-4">
                    <img class="broo"
                         src="@Html.DisplayFor(modelItem => item.ImageUrl)"
                         alt="car picture">
                </td>
                <td class="col-md-4">
                    <h3 class="align-top"><strong> @Html.DisplayFor(modelItem => item.Model)</strong></h3>
                    <hr />
                    <h4>Engine:</h4><h6>@Html.DisplayFor(modelItem => item.Engine)</h6>
                    <h4>Horsepower:</h4><h6>@Html.DisplayFor(modelItem => item.HorsePower) HP</h6>
                    <h4>Mileage:</h4><h6>@string.Format("{0:N0}", item.Mileage) km</h6>
                </td>
                <td class="col-md-4">
                    <h3 class="align-top"><strong>Price: @string.Format("{0:N}", item.Price) &euro;</strong></h3>
                    <hr />
                    <h4>Model year:</h4><h6>@Html.DisplayFor(modelItem => item.Year)</h6>
                    <h4>Color:</h4><h6>@Html.DisplayFor(modelItem => item.Color)</h6>
                    <hr />
                    <a asp-action="Reserve" asp-controller="TestDrives" class="btn btn-info" asp-route-id="@item.CarID">Apply for test drive<i class='fas fa-clipboard-list'></i></a>
                    <a asp-action="OrderCar" asp-controller="Orders" class="btn btn-info" asp-route-id="@item.CarID">Buy a vehicle<i class='fas fa-clipboard-list'></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>