﻿@model IEnumerable<autoplatz.Models.Order>

@{
    ViewData["Title"] = "MyOrders";
    var paidOrders = ViewData["PaidOrders"] as List<Order>;
    var unpaidOrders = ViewData["UnpaidOrders"] as List<Order>;

}

<h1 class="text-center">Your orders</h1>
<div class="row">
    <div class="col">
        <h2 class="text-center">Cars you bought</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Order Date</th>
                    <th scope="col">Payment method</th>
                    <th scope="col">Car model</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(Order order in paidOrders){ 
                <tr>
                    <td>@order.Date</td>
                    <td>@order.PaymentMethod</td>
                    <td>@order.Car.Model</td>
                    <td><a asp-action="MyOrderDetails" asp-controller="Orders" asp-route-id="@order.OrderID">View details</a></td>
                </tr>

                }
            </tbody>
        </table>

    </div>
    <div class="col">
        <h2 class="text-center">Pending cars</h2>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Order Date</th>
                    <th scope="col">Payment method</th>
                    <th scope="col">Car model</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Order order in unpaidOrders)
                {
                    <tr>
                        <td>@order.Date</td>
                        <td>@order.PaymentMethod</td>
                        <td>@order.Car.Model</td>
                        <td><a asp-action="MyOrderDetails" asp-controller="Orders" asp-route-id="@order.OrderID">View details</a></td>

                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
