﻿@model autoplatz.Models.Order

@{
    ViewData["Title"] = "MyOrderDetails";
}

<h1>Order Details</h1>
<hr />
<div class="row">
    <div class="col-6">

        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt class="col-sm-4">
                Payment Method
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.PaymentMethod)
            </dd>
            <dt class="col-sm-4">
                Is Order Paid
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.IsPaid)
            </dd>
            <dt class="col-sm-4">
                Full Name
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ApplicationUser.FirstName)&nbsp;@Html.DisplayFor(model =>
model.ApplicationUser.LastName)
            </dd>
            <dt class="col-sm-4">
                Street Address
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ApplicationUser.Address.Street)
            </dd>
            <dt class="col-sm-4">
                City
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ApplicationUser.Address.City)
            </dd>
            <dt class="col-sm-4">
                Country
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ApplicationUser.Address.Country.Name)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Car)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Car.Model)
            </dd>
        </dl>
    </div>

    <div class="col-6">
        <br />
        <table class="table">
            <tbody>
                <tr class="row">
                    <td class="col-md-4">
                        <img class="broo" src="@Html.DisplayFor(modelItem => Model.Car.ImageUrl)" alt="car picture">
                    </td>
                    <td class="col-md-4">
                        <h3 class="align-top"><strong> @Html.DisplayFor(modelItem => Model.Car.Model)</strong></h3>
                        <hr />
                        <h4>Engine:</h4>
                        <h6>@Html.DisplayFor(modelItem => Model.Car.Engine)</h6>
                        <h4>Horsepower:</h4>
                        <h6>@Html.DisplayFor(modelItem => Model.Car.HorsePower)</h6>
                        <h4>Mileage:</h4>
                        <h6>@string.Format("{0:N0}", Model.Car.Mileage) km</h6>
                    </td>
                    <td class="col-md-4">
                        <h3 class="align-top"><strong>@string.Format("{0:N}", Model.Car.Price) &euro;</strong></h3>
                        <hr />
                        <h4>Model year:</h4>
                        <h6>@Html.DisplayFor(modelItem => Model.Car.HorsePower)</h6>
                        <h4>Color:</h4>
                        <h6>@Html.DisplayFor(modelItem => Model.Car.Color)</h6>
                        <hr />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <a asp-action="MyOrders" asp-controller="Orders">Back to List</a>
</div>