﻿@model autoplatz.Models.Order

@{
    ViewData["Title"] = "OrderCar";
}

<h1>OrderCar</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Date" class="form-control" hidden />

            </div>
            <div class="form-group">
                <label asp-for="PaymentMethod" class="control-label"></label>
                <select asp-for="PaymentMethod" class="form-control" id="exampleFormControlSelect1">
                    <option>Cash &euro;</option>
                    <option>Credit Card</option>
                </select>
            </div>
            <div class="form-group form-check">
                <input class="form-check-input" asp-for="IsPaid" hidden />
            </div>
            <div class="form-group">
                <input type="text" asp-for="ApplicationUserID" hidden />
            </div>
            <div class="form-group">
                <input type="text" asp-for="CarID" hidden />
            </div>
            <div class="form-group">
                <input type="submit" value="Buy" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div class="col-8">
        <table class="table">
            <tbody>
                <tr class="row">
                    <td class="col-md-4">
                        <img class="broo" src="@Html.DisplayFor(modelItem => modelItem.Car.ImageUrl)" alt="car picture">
                    </td>
                    <td class="col-md-4">
                        <h3 class="align-top"><strong> @Html.DisplayFor(modelItem => modelItem.Car.Model)</strong></h3>
                        <hr />
                        <h4>Engine:</h4>
                        <h6>@Html.DisplayFor(modelItem => modelItem.Car.Engine)</h6>
                        <h4>Horsepower:</h4>
                        <h6>@Html.DisplayFor(modelItem => modelItem.Car.HorsePower) HP</h6>
                        <h4>Mileage:</h4>
                        <h6>@Html.DisplayFor(modelItem => modelItem.Car.Mileage) Km</h6>
                    </td>
                    <td class="col-md-4">
                        <h3 class="align-top"><strong> @Html.DisplayFor(modelItem => modelItem.Car.Price) &euro; </strong></h3>
                        <hr />
                        <h4>Model year:</h4>
                        <h6>@Html.DisplayFor(modelItem => modelItem.Car.Year)</h6>
                        <h4>Color:</h4>
                        <h6>@Html.DisplayFor(modelItem => modelItem.Car.Color)</h6>
                        <hr />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
