﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/*Our code */
.carousel {
    height: 50vh;
    overflow: hidden;
}

.carousel-inner {
    height: 50vh;
}

    .carousel-inner .carousel-item {
        height: 50vh;
    }

    .carousel-inner img {
        object-position: top;
        filter: brightness(40%);
    }

.broo {
    object-fit: cover;
    width: 100%;
}

.banner-pic {
    object-fit: cover;
    object-position: 0 50%;
    filter: brightness(75%);
    width: 100%;
    max-height: 350px;
}

.carousel-caption {
    position: absolute;
    right: (100% - $carousel-caption-width) / 2;
    bottom: 30%;
    left: (100% - $carousel-caption-width) / 2;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: $carousel-caption-color;
    text-align: center;
}

.navbar-brand {
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 24px;
}

.form-control {
    margin-bottom:5px;
}