﻿@model IEnumerable<autoplatz.Models.TestDrive>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                Is Approved
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th>
               Full name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.FirstName) &nbsp;@Html.DisplayFor(modelItem => item.ApplicationUser.LastName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TestDriveID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TestDriveID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TestDriveID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
