﻿@model IEnumerable<autoplatz.Models.TestDrive>

@{
    ViewData["Title"] = "MyTestDrives";
    var approvedTestDrives = ViewData["approvedTestDrives"] as List<TestDrive>;
    var unapprovedTestDrives = ViewData["unapprovedTestDrives"] as List<TestDrive>;
}

<h1>My Test Drives</h1>


    <div class="row">
        <div class="col">
            <h2 class="text-center">Approved Test Drives</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Test Drive Date</th>
                        <th scope="col">Car model</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var test in approvedTestDrives)
                    {
                    <tr>
                        <td>@test.Date</td>
                        <td>@test.Car.Model</td>
                        <td><a asp-action="MyTestDriveDetails" asp-controller="TestDrives" asp-route-id="@test.TestDriveID">View details</a></td>
                    </tr>
                    }
                </tbody>
            </table>

        </div>
        <div class="col">
            <h2 class="text-center">Unapproved Test Drives</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Test Drive Date</th>
                        <th scope="col">Car model</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var test in unapprovedTestDrives)
                    {
                    <tr>
                        <td>@test.Date</td>
                        <td>@test.Car.Model</td>
                        <td><a asp-action="MyTestDriveDetails" asp-controller="TestDrives" asp-route-id="@test.TestDriveID">View details</a></td>
                    </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
