﻿@model autoplatz.Models.TestDrive

@{
    ViewData["Title"] = "Reserve";
    var curDate = DateTime.Now.AddHours(2).ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss");

}

<h1>Reserve</h1>

<h4>TestDrive</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveTestDrive">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" min='@curDate' />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <input class="form-check-input" asp-for="IsApproved" hidden />
            </div>
            <div class="form-group">

                <input type="text" asp-for="CarID" hidden />
            </div>
            <div class="form-group">

                <input type="text" asp-for="ApplicationUserID" hidden />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div class="col-8">
        <table class="table">
            <tbody>
                <tr class="row">
                    <td class="col-md-4">
                        <img class="broo" src="@Html.DisplayFor(modelItem => modelItem.Car.ImageUrl)" alt="car picture">
                    </td>
                    <td class="col-md-4">
                        <h3 class="align-top"><strong> @Html.DisplayFor(modelItem => modelItem.Car.Model)</strong></h3>
                        <hr />
                        <h4>Engine:</h4>
                        <h6>@Html.DisplayFor(modelItem => modelItem.Car.Engine)</h6>
                        <h4>Horsepower:</h4>
                        <h6>@Html.DisplayFor(modelItem => modelItem.Car.HorsePower) HP</h6>
                        <h4>Mileage:</h4>
                        <h6>@Html.DisplayFor(modelItem => modelItem.Car.Mileage) Km</h6>
                    </td>
                    <td class="col-md-4">
                        <h3 class="align-top"><strong>@Html.DisplayFor(modelItem => modelItem.Car.Price) &euro;</strong></h3>
                        <hr />
                        <h4>Model year:</h4>
                        <h6>@Html.DisplayFor(modelItem => modelItem.Car.Year)</h6>
                        <h4>Color:</h4>
                        <h6>@Html.DisplayFor(modelItem => modelItem.Car.Color)</h6>
                        <hr />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
